body{
    background:#9ba7b3 ;
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}
.item-heading{
display:block;
text-align: center;
}

.element{
    margin-top: 50px;
    display:block;
    text-align: center;  
}